# Dependencies
node_modules/
jspm_packages/

# Build and output
dist/
dist-ssr/
.vite/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment and local files
.env
.env.local
.env.*.local
*.local
prospectus-35l-admin.json

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Upload directory
/uploads/*
!uploads/.gitkeep